<!DOCTYPE html>
<html lang="ar">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    @{
        try
        {
            <title>@ViewBag.Title</title>
        }
        catch
        {
            <title>@ViewBag.Title</title>
        }
    }

    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/Contents/Main.css")" rel="stylesheet">
    <link href="~/Contents/css/bootstrap.min.css" rel="stylesheet">
    <link href="@Url.Content("~/Contents/css/droidarabickufi.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        * {
            font-family: 'Droid Arabic Kufi', 'Open Sans', sans-serif;
            font-size: 16px;
        }

        .note {
            color: #f00;
        }
    </style>


    <!-- MetisMenu CSS -->
    <link href="~/Contents/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Contents/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Contents/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    @RenderBody()
    @Html.Partial("_Footer")
</body>
</html>