@using Almotkaml.Extensions
@model SalaryIndexModel

@{
    ViewBag.Title = "المرتبات";
}

@Html.AntiForgeryToken()
@Html.SavedModel(Model)
<div>
    @Html.AjaxNote()
</div>
<table>
    <tr>
        <td style="text-align: center">@Html.LabelFor(model => model.MonthDate, new { style = "margin-bottom: 24px" })</td>
        <td style="padding: 2px">
            @Html.TextBoxFor(model => model.MonthDate, new { @class = "field_text form-control", disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.MonthDate)
        </td>
        <td style="padding: 2px">
            @if (Model.CanUpdate)
            {
                <input type="button" value="احتساب المرتبات" name="updateDialog" class="btn btn-success btn-outline" data-toggle="modal" data-target="#updateModal" style="margin-bottom: 24px;" />
            }
            @if (Model.CanClose)
            {
                <input type="button" value="اغلاق الشهر الحالي" name="closeDialog" class="btn btn-danger btn-outline" data-toggle="modal" data-target="#closeModal" style="margin-bottom: 24px;" />
            }
        </td>
    </tr>
    <tr>
        <td style="padding: 2px" colspan="3">
            @if (Model.CanFreeze)
            {
                <input type="button" value="تجميد السلف الداخلية" name="insideFrezhDialog" class="btn btn-success" data-toggle="modal" data-target="#insideFrezhModal" style="margin-bottom: 24px;"/>
                <input type="button" value="تجميد السلف الخارجية" name="outsideFrezhDialog" class="btn btn-success" data-toggle="modal" data-target="#outsideFrezhModal" style="margin-bottom: 24px;"/>
            }
            @if (Model.CanAllow)
            {
                <input type="button" value="خصم السلف الداخلية" name="insideAllowDialog" class="btn btn-danger" data-toggle="modal" data-target="#insideAllowModal" style="margin-bottom: 24px;"/>
                <input type="button" value="خصم السلف الخارجية" name="outsideAllowDialog" class="btn btn-danger" data-toggle="modal" data-target="#outsideAllowModal" style="margin-bottom: 24px;"/>
            }
        </td>
    </tr>
    <tr>
        <td style="text-align: center">@Html.Label("رقم الصك للضرائب", new { style = "margin-bottom: 4px" })</td>
        <td style="text-align: center">@Html.Label("رقم الصك للتضامن", new { style = "margin-bottom: 4px" })</td>
        <td style="text-align: right">@Html.Label("رقم الصك للضمان الاجتماعي", new { style = "margin-bottom: 4px" })</td>
    </tr>
    <tr style="text-align: center">
        <td style="padding: 3px">
            @Html.TextBoxFor(model => model.TaxBondNumber, new { @class = "field_text form-control", style = "text-align: center" })
            @Html.ValidationMessageFor(model => model.TaxBondNumber)
        </td>
        <td style="padding: 3px">
            @Html.TextBoxFor(model => model.SolidarityFundBondNumber, new { @class = "field_text form-control", style = "text-align: center" })
            @Html.ValidationMessageFor(model => model.SolidarityFundBondNumber)
        </td>
        <td style="padding: 3px">
            @Html.TextBoxFor(model => model.SocialSecurityFundBondNumber, new { @class = "field_text form-control", style = "text-align: center" })
            @Html.ValidationMessageFor(model => model.SocialSecurityFundBondNumber)
        </td>
    </tr>
</table>

<p>
    <input id="reportType" type="hidden" name="reportType" value="" />
    <input name="tax" type="button" value="كشف الضرائب" class="btn btn-warning" onclick="SendValue(this, 'reportType', 'tax')" />
    <input name="solidarityFund" type="button" value="كشف التضامن" class="btn btn-warning" onclick="SendValue(this, 'reportType', 'solidarityFund')" />
    <input name="socialSecurityFund" type="button" value="كشف الضمان الاجتماعي" class="btn btn-warning" onclick="SendValue(this, 'reportType', 'socialSecurityFund')" />
    @Html.ActionLink("كشف السلف والرواتب المقدمة", "AdvancePayment", null, new {@class = "btn btn-warning", target = "_blank"})
    @Html.ActionLink("استمارة المرتبات", "SalaryForm", null, new {@class = "btn btn-warning", target = "_blank"})
    @Html.ActionLink("الحافظة المصرفية", "ClipboardBanking", null, new {@class = "btn btn-warning", target = "_blank"})
    @Html.ActionLink("بطاقة المرتب", "SalaryCard", null, new {@class = "btn btn-warning", target = "_blank"})
</p>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">@ViewBag.Title</div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table data-order='[]' class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>ر.ت</th>
                                <th>الرقم الوظيفي</th>
                                <th>الاسم</th>
                                @*<th>الادارة</th>
                                    <th>الرقم الوطني</th>*@
                                <th>المحول للمصرف </th>
                                <th>@Html.Show(Model.CanEdit)</th>
                                <th>ايقاف المرتب</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var count = 0;
                            }
                            @for (int i = 0; i < Model.SalaryGrid.Count; i++)
                            {
                                count++;
                                <tr class="odd gradeX">
                                    <td>@count</td>
                                    <td>@Html.DisplayFor(modelItem => Model.SalaryGrid[i].JobNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => Model.SalaryGrid[i].EmployeeName)</td>
                                    <td>@Model.SalaryGrid[i].FinalSalary.ToLyd()</td>
                                    <td>
                                        @Html.ActionLink(Html.Show(Model.CanEdit), "Edit", new { id = Model.SalaryGrid[i].SalaryId }, new { @class = "btn btn-info" })
                                    </td>

                                    @*@if (Model.CanSuspended)
                                        {*@
                                    @if (Model.SalaryGrid[i].IsSuspended)
                                    {
                                        <td>
                                            @{
                                                var targetId = "false" + Model.SalaryGrid[i].SalaryId;
                                            }
                                            <input type="button" value="افراج المرتب" name="falseDialog" class="btn btn-success" data-toggle="modal" data-target="#@targetId" />
                                            <div id="@targetId" class="modal fade" role="dialog">
                                                <div class="modal-dialog">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">افراج المرتب</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>هل أنت متأكد من افراج المرتب للموظف ؟</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">إلغاء</button>
                                                            <button name="suspendedFalseSalaryId" value="@Model.SalaryGrid[i].SalaryId" class="btn btn-success" onclick="hideModal('@targetId')">موافق</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </td>

                                                }
                                                else
                                                {
                                                    <td>
                                                        @{
                                                            var targetId = "true" + Model.SalaryGrid[i].SalaryId;
                                                        }
                                                        <input type="button" value="ايقاف المرتب" name="trueDialog" class="btn btn-danger" data-toggle="modal" data-target="#@targetId" />
                                                        <div id="@targetId" class="modal fade" role="dialog">
                                                            <div class="modal-dialog">

                                                                <!-- Modal content-->
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                        <h4 class="modal-title">ايقاف المرتب</h4>
                                                                    </div>

                                                                    <div class="modal-body">
                                                                        @Html.LabelFor(model => Model.SalaryGrid[i].SuspendedNote)
                                                                        @Html.TextBoxFor(model => Model.SalaryGrid[i].SuspendedNote, new { @class = "field_text form-control" })
                                                                        @Html.ValidationMessageFor(model => Model.SalaryGrid[i].SuspendedNote)
                                                                        <p>هل أنت متأكد من ايقاف المرتب للموظف ؟</p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">إلغاء</button>
                                                                        <button name="suspendedTrueSalaryId" value="@Model.SalaryGrid[i].SalaryId" class="btn btn-success" onclick="hideModal('@targetId')">موافق</button>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </td>
                                                            }
                                    @*};*@
                                </tr>
                                                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
<div id="updateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="deport" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">احتساب المرتبات</h4>
            </div>
            <div class="modal-body">
                <p>هل أنت متأكد من أنك تريد احتساب المرتبات ؟</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">إلغاء</button>
                <button name="update" value="update" class="btn btn-success" onclick="hideModal('updateModal')"> موافق</button>
            </div>
        </div>
    </div>
</div>

<div id="closeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="deport" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">اغلاق الشهر الحالي</h4>
            </div>
            <div class="modal-body">
                <p>هل أنت متأكد من أنك اغلاق الشهر الحالي وفتح شهر جديد ؟</p>
                <p style="color: crimson">لا يمكنك إلغاء الاغلاق بعد الضغط على زر التأكيد</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">إلغاء</button>
                <button name="close" value="close" class="btn btn-success" onclick="hideModal('closeModal')">موافق</button>
            </div>
        </div>
    </div>
</div>
<div id="insideFrezhModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="deport" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">تجميد السلف الداخلية</h4>
            </div>
            <div class="modal-body">
                <p>هل أنت متأكد من أنك تجميد السلف الداخلية لكل الموظفين ؟</p>
                <p style="color: crimson">لا يمكنك إلغاء الاغلاق بعد الضغط على زر التأكيد</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">إلغاء</button>
                <button name="insideAdvancePremiumFrezh" value="insideAdvancePremiumFrezh" class="btn btn-success" onclick="hideModal('insideFrezhModal')">موافق</button>
            </div>
        </div>
    </div>
</div>
<div id="outsideFrezhModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="deport" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">تجميد السلف الخارجية</h4>
            </div>
            <div class="modal-body">
                <p>هل أنت متأكد من أنك تجميد السلف الخارجية لكل الموظفين ؟</p>
                <p style="color: crimson">لا يمكنك إلغاء الاغلاق بعد الضغط على زر التأكيد</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">إلغاء</button>
                <button name="outsideAdvancePremiumFrezh" value="outsideAdvancePremiumFrezh" class="btn btn-success" onclick="hideModal('outsideFrezhModal')">موافق</button>
            </div>
        </div>
    </div>
</div>
<div id="insideAllowModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="deport" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">خصم السلف الداخلية</h4>
            </div>
            <div class="modal-body">
                <p>هل أنت متأكد من أنك خصم السلف الداخلية لكل الموظفين ؟</p>
                <p style="color: crimson">لا يمكنك إلغاء الاغلاق بعد الضغط على زر التأكيد</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">إلغاء</button>
                <button name="insideAdvancePremiumAllow" value="insideAdvancePremiumAllow" class="btn btn-success" onclick="hideModal('insideAllowModal')">موافق</button>
            </div>
        </div>
    </div>
</div>
<div id="outsideAllowModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="deport" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">خصم السلف الخارجية</h4>
            </div>
            <div class="modal-body">
                <p>هل أنت متأكد من أنك خصم السلف الخارجية لكل الموظفين ؟</p>
                <p style="color: crimson">لا يمكنك إلغاء الاغلاق بعد الضغط على زر التأكيد</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">إلغاء</button>
                <button name="outsideAdvancePremiumAllow" value="outsideAdvancePremiumAllow" class="btn btn-success" onclick="hideModal('outsideAllowModal')">موافق</button>
            </div>
        </div>
    </div>
</div>
