@using Almotkaml.HR.Mvc.Global
@using Almotkaml.HR.Mvc.Library
<!DOCTYPE html>
<html lang="ar">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>


    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery1.4.js"></script>
    <script src="~/Scripts/jqueryui.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/Content/mapHover.css" rel="stylesheet" />
    <link href="@Url.Content("~/Contents/css/droidarabickufi.css")" rel="stylesheet" type="text/css" />
    
    <style type="text/css">
        * {
            font-family: 'Droid Arabic Kufi', 'Open Sans', sans-serif;
            font-size: 14px;
        }
        .note
        {
            color: #f00;
        }
    </style>

    <!-- Bootstrap Core CSS -->

    <link rel="stylesheet" href="~/Contents/css/jquery-ui.css">


    <link href="@Url.Content("~/Contents/css/bootstrap.min.css")" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="@Url.Content("~/Contents/css/plugins/metisMenu/metisMenu.min.css")" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="@Url.Content("~/Contents/css/plugins/timeline.css")" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@Url.Content("~/Contents/css/sb-admin-2.css")" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="@Url.Content("~/Contents/css/plugins/morris.css")" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@Url.Content("~/Contents/font-awesome-4.7.0/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
    @*<link href="@Url.Content("~/Contents/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">*@
    <link href="@Url.Content("~/Contents/Main.css")" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="~/Contents/MainStyleSheet.css" rel="stylesheet" />
    </head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="">صندوق التأمين الصحي العام</a>

            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="@Url.Action("UserProfile","Account")"><i class="fa fa-user fa-fw"></i> إعدادات الحساب</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Logout","Account")"><i class="fa fa-sign-out fa-fw"></i> تسجيل الخروج</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            </ul>
            @*<a class="navbar-brand" href="">منظومة الموارد البشرية</a>*@
            <ul class="nav navbar-top-links navbar-right" style="margin-right: 100px">
                <li class="dropdown">
                    <br />
                    <span class="dropdown-user">اسم المستخدم : @Html.GetApplicationUser().Title</span>
                </li>
            </ul>

            @if (ViewBag.IsDemo)
            {
                <ul class="nav navbar-top-links navbar-right" style="color: #ff0000">
                    <li class="dropdown">
                        <br />
                        <span class="dropdown-user">نسخة تجريبية</span>
                    </li>
                </ul>
            }
            <!-- /.navbar-top-links -->
            <div dir="ltr" style="float: left; padding: 10px">
                <img alt="logo" height="35" src="~/Images/Almotkaml.png" style="margin-right: 10px" />
                <span style="vertical-align: bottom">Almotkaml Co .</span>
            </div>
            <script type="text/javascript">
                function hide_category(catId) {
                    document.getElementById(catId).style.display = "none";
                }
            </script>
            <div id="main_menu" class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">

                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper" onclick="minimize()">
            <div class="row">
                <div class="col-lg-12">
                    <table style="text-align: right; width: 100%">
                        <tr>
                            <pr></pr>
                            @*<td width="1%">
                                @{
                                    var info = Html.GetCompanyInfo();
                                    var infoName = info.LongName ?? info.ShortName ?? "شركة المتكامل لإدارة وخدمات تقنية المعلومات";
                                }
                                @if (info.LogoPath != null)
                                {
                                    <img style="margin: 10px" width="40" alt="" src="@Url.Content(info.LogoPath)"/>
                                }
                                else
                                {
                                    <img style="margin: 10px" width="40" alt="" src="@Url.Content("~/Images/Almotkaml.png")" />
                                }
                            </td>
                            <td width="50%"><span style="font-size: 20px;" class="page-header">شركة المتكامل لإدارة وخدمات تقنية المعلومات&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></td>*@
                        </tr>
                    </table>
                </div>
                <!-- /.col-lg-12 -->
            </div>
        
            @RenderBody()
         
   

        </div>
        @Html.Partial("_Footer")
    <!-- /#wrapper -->
    <!-- jQuery Version 1.11.0 -->

    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Contents/js/bootstrap.min.js")"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="@Url.Content("~/Contents/bower_components/metisMenu/dist/metisMenu.min.js")"></script>

    <!-- Morris Charts JavaScript -->
    <script src="@Url.Content("~/Contents/bower_components/raphael/raphael-min.js")"></script>
    <script src="@Url.Content("~/Contents/bower_components/morrisjs/morris.min.js")"></script>
        <script>
            $(document).ready(function () {
                $('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script>


        <script src="@Url.Content("~/Contents/bower_components/datatables/media/js/jquery.dataTables.min.js")"></script>
        <script src="@Url.Content("~/Contents/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js")"></script>
        <script src="@Url.Content("~/Contents/bower_components/datatables-responsive/js/dataTables.responsive.js")"></script>


    <!-- Custom Theme JavaScript -->
    <script src="@Url.Content("~/Contents/js/sb-admin-2.js")"></script>



    </div>

</body>

</html>
