@using System.Web.Mvc.Html
@using Almotkaml.HR
@model SalarySettlementReportModel
@{
    ViewBag.Title = "تقارير المرتبات";
}

@Html.AntiForgeryToken()
@Html.SavedModel(Model)

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">البحث</div>
            <div class="panel-body">
                <fieldset>
                    <legend>بحث</legend>
                    <div class="panel-body">
                        <div>
                            @Html.AjaxNote()
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SalarySettlement, new { @class = "control-label" })
                                    @Html.EnumDropDownListFor(model => model.SalarySettlement, new { @class = "field_menu form-control", onchange = "$(this.form).submit()" })
                                    @Html.ValidationMessageFor(model => model.SalarySettlement, null, new { @class = "has_error" })
                                </div>
                            </div>
                            @if (Model.SalarySettlement == SalarySettlement.Advance)
                            {
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AdvanseNameID)
                                        @Html.DropDownListFor(model => model.AdvanseNameID, new SelectList(Model.AdvanseNameList, nameof(AdvanseNameListItem.AdvanseNameID), nameof(AdvanseNameListItem.Name)), "--اختر--", new { @class = "field_menu form-control" })
                                        @Html.ValidationMessageFor(model => model.AdvanseNameID)
                                    </div>
                                </div>
                            }
                            @if (Model.SalarySettlement != SalarySettlement.SalaryCertificate)
                            {
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BankId)
                                        @Html.DropDownListFor(model => model.BankId, new SelectList(Model.BankList, nameof(BankListItem.BankId), nameof(BankListItem.Name)), "--اختر--", new { @class = "field_menu form-control", onchange = "$(this.form).submit()" })
                                        @Html.ValidationMessageFor(model => model.BankId)
                                    </div>
                                </div>
                            }
                            @if (Model.SalarySettlement != SalarySettlement.SalaryCertificate)
                            {
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BankBranchId)
                                        @Html.DropDownListFor(model => model.BankBranchId, new SelectList(Model.BankBranchList, nameof(BankBranchListItem.BankBranchId), nameof(BankBranchListItem.Name)), "--اختر--", new { @class = "field_menu form-control", onchange = "$(this.form).submit()" })
                                        @Html.ValidationMessageFor(model => model.BankBranchId)
                                    </div>
                                </div>
                            }

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.JobNumber)
                                    @*@Html.TextBoxFor(model => model.JobNumber, new { @class = "field_text form-control" })*@
                                    <button type="button" class="field_text form-control" style="text-align: right" data-toggle="modal" data-target="#myModal">@Model.JobNumber</button>
                                    @Html.ValidationMessageFor(model => model.JobNumber)
                                </div>
                            </div>
                            @if (Model.SalarySettlement != SalarySettlement.SalaryCertificate)
                            {
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CenterId)
                                        @Html.DropDownListFor(model => model.CenterId, new SelectList(Model.CenterList, nameof(CenterListItem.CenterId), nameof(CenterListItem.Name)), "--اختر--", new { @class = "field_menu form-control", onchange = "$(this.form).submit()" })
                                        @Html.ValidationMessageFor(model => model.CenterId)
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DepartmentId)
                                        @Html.DropDownListFor(model => model.DepartmentId, new SelectList(Model.DepartmentList, nameof(DepartmentListItem.DepartmentId), nameof(DepartmentListItem.Name)), "--اختر--", new { @class = "field_menu form-control", onchange = "$(this.form).submit()" })
                                        @Html.ValidationMessageFor(model => model.DepartmentId)
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DivisionId)
                                        @Html.DropDownListFor(model => model.DivisionId, new SelectList(Model.DivisionList, nameof(DivisionListItem.DivisionId), nameof(DivisionListItem.Name)), "--اختر--", new { @class = "field_menu form-control", onchange = "$(this.form).submit()" })
                                        @Html.ValidationMessageFor(model => model.DivisionId)
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UnitId)
                                        @Html.DropDownListFor(model => model.UnitId, new SelectList(Model.UnitList, nameof(UnitListItem.UnitId), nameof(UnitListItem.Name)), "--اختر--", new { @class = "field_menu form-control" })
                                        @Html.ValidationMessageFor(model => model.UnitId)
                                    </div>


                                </div>
                            }

                            @if (Model.SalarySettlement != SalarySettlement.Advance)
                                        //|| (Model.SalarySettlement != SalarySettlement.SocialSecyrtey)
                                        {

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="form-group">

                                        @Html.LabelFor(model => model.Year)
                                        @Html.TextBoxFor(model => model.Year, new { @class = "field_text form-control" })

                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="form-group">

                                        @Html.LabelFor(model => model.Month)
                                        @Html.TextBoxFor(model => model.Month, new { @class = "field_text form-control" })

                                    </div>
                                </div>

                            }
                          @if (Model.SalarySettlement == SalarySettlement.SocialSecurety || (Model.SalarySettlement == SalarySettlement.Clipord && (Model .BankId > 0 && Model.BankBranchId > 0)))
                          {
                               <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.InstrumentNumber)
                                    @Html.TextBoxFor(model => model.InstrumentNumber, new { @class = "field_text form-control" })
                                    @Html.ValidationMessageFor(model => model.InstrumentNumber)
                                </div>
                            </div>
                          }
                            @if (Model.SalarySettlement == SalarySettlement.EndJob)
                            {
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DateFrom)
                                        @Html.DatePickerFor(model => model.DateFrom2)
                                        @Html.ValidationMessageFor(model => model.DateFrom)
                                    </div>
                                </div>
                            }
                            @if (Model.SalarySettlement == SalarySettlement.Summary || Model.SalarySettlement == SalarySettlement.SalaryForm)
                            {
                                if (Model.SalarySettlement == SalarySettlement.Summary)
                                {
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            @Html.CheckBoxFor(model => model.ClampCheck)&nbsp;
                                            @Html.LabelFor(model => model.ClampCheck)
                                            @Html.ValidationMessageFor(model => model.ClampCheck)
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="form-group">
                                            @Html.CheckBoxFor(model => model.SubsistenceCheck)&nbsp;
                                            @Html.LabelFor(model => model.SubsistenceCheck)
                                            @Html.ValidationMessageFor(model => model.SubsistenceCheck)
                                        </div>
                                    </div>
                                }
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="form-group">
                                        @Html.CheckBoxFor(model => model.PremiumCheck, new { @style = "text-align: right", @data_toggle = "modal", @data_target = "#PremiumModal" })
                                        @Html.LabelFor(model => model.PremiumCheck)
                                        @Html.ValidationMessageFor(model => model.PremiumCheck)
                                    </div>
                                </div>
                            }


                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input name="print" type="submit" value="طباعة" class="btn btn-info" onclick="this.form.submit()" />
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-outline btn-success" onclick="this.form.submit()">Excel</button>
                                        @*<input name="Excel" type="submit" value="Excel" class="btn btn-success" onclick="this.form.submit()"SendValue(this, 'toExcel', ) />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">@ViewBag.Title</div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table data-order='[]' class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>ر.ت</th>
                                <th>الرقم الوظيفي</th>
                                <th>الاسم</th>
                                <th>الوحدة التنظيمية</th>
                                <th>الادارة</th>
                                <th>الرقم الوطني</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var count = 0;
                            }
                            @foreach (var item in Model.Grid)
                            {
                                count++;
                                <tr class="odd gradeX">
                                    <td>@count</td>
                                    <td>@Html.DisplayFor(modelItem => item.JobNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CenterName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NationalNumber)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
<!-- End Region EmployeeGrid -->
@Html.HiddenFor(model => model.EmployeeId)

<!-- /.panel -->
<!-- Region EmployeeGrid -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">الموظفين</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table style="overflow-x: hidden; max-height: 600px" data-order='[]' class="table table-striped table-bordered table-hover" id="dataTables-example2">
                                    <thead>
                                        <tr>
                                            <th width="20%"></th>
                                            <th width="20%">الرقم الوظيفي</th>
                                            <th width="20%">الاسم</th>
                                            <th width="20%">الإدارة</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.EmployeeGrid)
                                        {
                                            <tr class="odd gradeX">
                                                <td>@Html.RadioButtonFor(model => model.JobNumber, item.JobNumber, new { onclick = "hideModal('myModal');$('.modal-backdrop').remove();$(this.form).submit();", data_dismiss = "modal" })</td>
                                                <td>@Html.DisplayFor(modelItem => item.JobNumber)</td>
                                                <td>@Html.DisplayFor(modelItem => item.ArabicFullName)</td>
                                                <td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>                    <!-- /.panel-body -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>
<!-- End Region EmployeeGrid -->
@Html.HiddenFor(model => model.JobNumber)
<!-- /.panel Premium -->
<div class="modal fade" id="PremiumModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">تفصيل العلاوات</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @if (Model.SalarySettlement == SalarySettlement.SalaryForm)
                            {
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        @Html.Label("يتضمن عرض العلاوات (9 علاوات كحد أقصى)", new { @class = "label-warning" })
                                    </div>
                                </div>
                            }
                            <div class="table-responsive">
                                <table style="overflow-x: hidden; max-height: 600px" data-order='[]' class="table table-striped table-bordered table-hover" id="dataTables-example2">
                                    <thead>
                                        <tr>
                                            <th width="20%">عرض</th>
                                            <th width="20%">علاوة/خصم</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < Model.PremiumCheckListItem.Count; i++)
                                        {
                                            <tr class="odd gradeX">
                                                <td>
                                                    @Html.CheckBoxFor(modelItem => Model.PremiumCheckListItem[i].IsSelected)
                                                    @Html.HiddenFor(modelItem => Model.PremiumCheckListItem[i].PremiumId)
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => Model.PremiumCheckListItem[i].Name)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- /.panel-body -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>
